<p class='titulin' >Añadir</p>
<div class="unicode">
<div class="pequeno"><a routerLink="/addRes" ><i class="bi bi-book"></i></a><br>Añadir resultado<br></div>
<div class="pequeno"><a routerLink="/addPil" ><i class="bi bi-person-plus-fill"></i></a><br>Añadir piloto<br></div>
<div class="pequeno"><a routerLink="/" ><i class="bi bi-flag"></i></a><br>Añadir Circuito<br></div>
<div class="pequeno"><a routerLink="/" ><i class="bi bi-calendar-plus"></i></a><br>Añadir Temporada<br></div>
<div class="pequeno"><a routerLink="/" ><i class="bi bi-house-add"></i></a><br>Añadir Equipo<br></div>
<div class="pequeno"><a routerLink="/" class = "unicodito"><i class="bi bi-person-plus-fill"></i></a><br>Equipar<br></div>
</div>
<p class='titulin' >Ediciones</p>

<!-- Editar un piloto -->
<div class="uno">
		<p class="subrayar">Editar pilotos</p>
		<form method="GET" action="formulario.php" >

		<p>Piloto: <select name="piloto" required>'.seleccionPilotos().'</select>
		
		<p><input type="hidden" name="hacer" value="Pilotos"></p>
		<p><input type="submit" name="aceptar" value="Aceptar"></p>
		</form>
	</div>
<!-- Editar un equipo -->
	<div class="dos">
		<p class="subrayar">Editar equipos</p>
		<form method="GET" action="formulario.php" >
		<p>Piloto: <select name="piloto" required>'.seleccionPilotos().'</select>
		<p>Temporada: <select name="temporada" required>'.seleccionTemporadas().'</select>
		<p><input type="hidden" name="hacer" value="Equipos"></p>
		<p><input type="submit" name="aceptar" value="Aceptar"></p>
		</form>
	</div>
	<br>
<!-- Editar un circuito -->
	<div class ="dos">
	<p class="subrayar"> Editar Circuito</p>
	<form method="GET" action="formulario.php" >

		<p>Selecciona el circuito: <select name="id" required>'.seleccionCircuitos().'</select>
		
		<p><input type="hidden" name="hacer" value="edci"></p>
		<p><input type="submit" name="aceptar" value="Aceptar"></p>
		</form>
	</div>'
<!-- Editar un resultado -->
	<div class = "uno">
	<p class ="subrayar"> Editar Resultado </p>
	<form method ="GET" action="formulario.php">
		<p> Selecciona la temporada:<select name="id_temporada" required>'.seleccionTemporadas().'</select>
		<p> Selecciona el circuito:<select name ="id_circuito" required>'.seleccionCircuitos().'</select>

		<p><input type="hidden" name="hacer" value="edre"></p>
		<p><input type="submit" name="aceptar" value="Aceptar"></p>
	</form>
	</div>

<br>
<br>
<p><a routerLink="">Volver al inicio.</a>