<section class="vh-100 gradient-custom">
  @if(!piloto){
    <div>Cargando...</div>
  } 
  @else{
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
                <form >
              @if(anteriorEquipo !=0){
              <div class="mb-md-5 mt-md-4 pb-5">
              
                <h4 class="fw-bold mb-2 text-uppercase">{{piloto.nombre}}</h4>
                <h4 class="fw-bold mb-2 text-uppercase">pertenece a</h4>
                <h4 class="fw-bold mb-2 text-uppercase">{{nombreEquipo}}</h4>
                <br>
                                
                <div data-mdb-input-init class="form-outline form-white mb-4">
                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="equipo" [(ngModel)]="equipoId">
                        <option value="0" selected disabled></option>
                        @for(equipo of equipos; track $index){
                          <option value="{{equipo.id}}">{{equipo.nombre}}</option>
                        }
                    </select>
                    <label class="form-label">Equipo</label>
                </div>

                <button data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-lg px-5" type="submit" (click)="editarEquipo(equipoId)">Aceptar</button>
                <br><br>
                <a data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-lg px-3" type="button" routerLink="/admin">Volver</a>
              </div>
              }
              @else{
              <div class="mb-md-5 mt-md-4 pb-5">
                <h4 class="fw-bold mb-2">Elige el equipo para </h4><h4 class="fw-bold mb-2 text-uppercase">{{piloto.nombre}}</h4>
              
                <br>
                                
                <div data-mdb-input-init class="form-outline form-white mb-4">
                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="equipo" [(ngModel)]="equipoId">
                        <option value="0" selected disabled></option>
                        @for(equipo of equipos; track $index){
                          <option value="{{equipo.id}}">{{equipo.nombre}}</option>
                        }
                    </select>
                    <label class="form-label">Equipo</label>
                </div>

                <button data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-lg px-5" type="submit" (click)="editarEquipoAniadir(equipoId)">Aceptar</button>
                <br><br>
                <a data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-lg px-3" type="button" routerLink="/admin">Volver</a>

              </div>
              }
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  }
  </section>