#centrado{
    width: 30%;
    text-align: center;
    margin-left: 40%;
    padding-top: 20px;
}
#imagen{
    width: 30%;
    text-align: center;
    margin-left: 40%;
}
#separar{
    padding-top: 30px;
}