<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
                <form  (ngSubmit)="editarCircuito(circuito.circuito,circuito.pais)">
              <div class="mb-md-5 mt-md-4 pb-5">
  
                <h2 class="fw-bold mb-2 text-uppercase">Edita el Circuito</h2>
                <br>
                
                <div data-mdb-input-init class="form-outline form-white mb-4">
                  <input type="text" class="form-control form-control-lg" name="circuito" [(ngModel)]="circuito.circuito" />
                  <label class="form-label" >Nombre Circuito</label>

                </div>
       
                <div data-mdb-input-init class="form-outline form-white mb-4">
                  <input type="text"  class="form-control form-control-lg" name="pais" [(ngModel)]="circuito.pais" />
                  <label class="form-label">Pais</label>
                </div>
  


                <button data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-lg px-5" type="submit">Aceptar</button>
                <br><br>
                <a data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-lg px-3" type="button" routerLink="/admin">Volver</a>

              </div>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
