@if(!circuito){
    <a>Cargando...</a> 
 }
 @else {
 <form>
    <input type="hidden" name="hacer" value="anre">
    <p>Temporada: {{temporadaId}}
    <p >Circuito: {{circuito.circuito}} </p>
    <p>Sprint?: <select name="sprint" [(ngModel)]="sprint">
        <option value="FALSE">No</option>
        <option value="TRUE">Si</option>
    </select><br>
</form>
 }
<form>
    <table ><tr>
    <th>Piloto</th>
    <th>Posición</th>
    <th>Puntos</th>
    <th>Pole</th>
    <th>Vuelta Rápida</th>
    <th>Puntos Sprint</th>
    <th>Tiempo de Sanción</th>

    </tr>
    @for(filita of filas; track $index;){
    <tr>
    <td> <select name="piloto{{$index}}" [(ngModel)]="filita.piloto">
        <option value="" disabled selected></option>
            @for(piloto of pilotos; track piloto){
                <option [ngValue]="piloto"> {{piloto.nombre}} </option>
            }
        </select>
    </td>
    <!-- Creo que todo esto tiene que ir en un NgModel -->
    <td><input type="number"  id="posicion{{$index+1}}" value="{{filita.posicion}}" name="posicion{{$index+1}}" [(ngModel)]="filita.posicion" disabled></td>
    <td><input type="number" value="{{filita.puntos}}" name="puntos{{$index+1}}" [(ngModel)]="filita.puntos"></td>
    <td> 
        <label style="margin-right:5px;">
        <input type="radio" name="pole{{$index+1}}" [(ngModel)]="filita.pole" [value]="false">
        No
        </label>
        <label>
        <input type="radio"  name="pole{{$index+1}}" [(ngModel)]="filita.pole" [value]="true">
        Sí
        </label>
    </td>
    <td> 
        <label style="margin-right:5px;">
        <input type="radio" name="vueltaRapida{{$index+1}}" [(ngModel)]="filita.vueltaRapida" [value]="false">
        No
        </label>
        <label>
        <input type="radio"  name="vueltaRapida{{$index+1}}" [(ngModel)]="filita.vueltaRapida" [value]="true">
        Sí
        </label>
    </td>
    <td><input type="number" value="{{filita.puntosSprint}}" name="puntos_sprint{{$index+1}}" [(ngModel)]="filita.puntosSprint" disabled></td>
    <td><input type="number" value="0" name="sancion{{$index+1}}" [(ngModel)]="filita.sancion"></td>
    </tr>
    }
</table>
 
                <div style="padding: 20px; padding-left: 20%; padding-top: 20px; ">
                    <button type="button" class="btn btn-primary" (click)="onSubmit(filas, temporadaId, circuito)">Añadir</button>
                    <button type="button" style="margin-left: 15px;" class="btn btn-danger" (click)="borrar()">Borrar</button>
                    <br>
                    <br>
                    <button type="button" class="btn btn-secondary" routerLink="/admin">Volver Atras</button>
                </div>
            